<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Book</h5>
          <p>
            <strong>ID</strong>: {{book.id}}</p>
          <p>
            
            <p>
            <strong>Title</strong>: {{book.title}}</p>
            <p>
            <strong>Author:</strong> {{book.author}}</p>
            <p>
            <img src="http://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg"/>
            <p>
            <strong>Review</strong>: {{book.review}}</p>

            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
