 <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <h1 style=color:whitesmoke>{{msg}}</h1>
 </nav>

<div id="home">
  <div class="container">

  

    <div class="row">
      <div class="col-8 offset-2">
        
        <br>
        <h3>Keep track of your favorite books and book reviews by inputting the form below.</h3>
        <br>

        <form class="clearfix mb-4" action="POST">

          <div class="form-group">
            <label for="book-title"><h5>Enter a book title</h5></label>
            <input type="text" id="book-title" class="form-control" aria-describedby="book-title" placeholder="Enter a book title">
          </div>

          <div class="form-group">
            <label for="book-title"><h5>Enter a book author</h5></label>
            <input type="text" id="book-author" class="form-control" aria-describedby="book-author" placeholder="Enter the book's author">
          </div>

          <div class="form-group">
            <label for="book-title"><h5>Enter the book ISBN number</h5></label>
            <input type="text" id="book-isbn" class="form-control" aria-describedby="book-isbn" placeholder="Enter the book ISBN number">
          </div>

          <div class="form-group">
            <label for="book-review"><h5>Write a review for the book</h5></label>
            <textarea class="form-control" id="book-review" aria-describedby="book-review" placeholder="Write a review for the book"></textarea>
          </div>

          <button id="submit" class="btn btn-primary float-right">Submit</button>

        </form>


        <h3>Books:</h3>
        <ul id="book-list" class="list-group">
          {{#each books}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="book/{{this.id}}">{{this.title}}</a>
            <p>Author: {{this.author}}</p>
            <img src="http://covers.openlibrary.org/b/isbn/{{this.isbn}}-M.jpg" />
            <p>Review: {{this.review}}</p>
             <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>

<footer class="footer">
            <div class="container">
                <div class="col-md-12 text-center">
                    <p class="copyright">
                        <small>&copy; 2019. Mariana and Matt. All Rights Reserved.</small>
                    </p>
        
                </div>
            </div>
        </footer>

      </div>
    </div>
  </div>
</div>
{{!-- <img src="http://covers.openlibrary.org/b/isbn/9780310351801-M.jpg" /> --}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
